* {
	margin: 0;
	padding: 0;
}


/*-----------------
* Common CSS
-------------------*/
body {
	font-family: 'Work Sans';
}

.btn-primary {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	background-color: #F15B22;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding: 20px 25px;

}

.container {
	width: 1140px;
	margin: 0 auto;
}

.section-title h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #151414;
}

/* Header CSS */

.header {
	background-image: url(../images/banner/banner-image.png);
	background-size: cover;
	background-position: center;
}

.header-items {
	padding: 200px 230px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.header-right-item h1 {
	color: #151414;
	font-weight: 700;
	font-size: 65px;
	line-height: 76px;
}

.header-right-item {
	text-align: right;
	width: 500px;
}

.header-right-item p {
	color: #444343;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 32px;
	margin-top: 24px;
}

/* My Failures Css */

.my-failures-of-pre-year {
	margin: 130px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-failures-of-pre-year-image {
	margin-right: 120px;
} 

.my-failures-of-pre-year .section-title p {
	color: #444343;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-top: 24px;
	margin-bottom: 16px;
}

.my-failures-of-pre-year ul li {
	list-style: none;
	color: #444343;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 8px;
	padding-left: 25px;
	background-image: url(../images/icons/check.png);
	background-repeat: no-repeat;
	background-position: left 8px;
	background-size: 15px;
}

/* My Plans Css*/

.my-plans .section-title {
	text-align: center;
	margin-bottom: 60px;
}

.my-plans-items {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.single-plan-item img {
	margin-bottom: 20px;
}

.single-plan-item {
	text-align: center;
}

.single-plan-item h2 {
	color: #151414;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 16px;
}

.single-plan-item p {
	color: #737272;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
}

/* Positive Mindset CSS*/
.positive-mindset-content {
	padding: 60px;
	border-radius: 8px;
	margin-top: 130px;
	background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
}
.positive-mindset-content h2{
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 25px;
	color: #fff;
}
.mindset-btn{
	font-weight: 600;
	font-size: 20px;
	background-color: #fff;
	color: #F15B22;
	border: 0;
	border-radius: 5px;
	padding: 20px 35px;
}
/* Contact CSS*/
.contact{
	display: flex;
	gap:100px;
	margin-top: 80px;
}
.contact-content-item{
	width: 50%;
}
.contact .section-title h2{
	margin-bottom: 40px;
}
.contact p, .contact label {
	color: #444343;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 16px;
}
.contact input,
.contact textarea {
	background-color: #efefef;
	border: 1px solid #efefef;
	border-radius: 10px;
	color: #737373;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 15px;
	width: 100%;
	margin-top: 5px;
}

.contact input[type="submit"] {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	background-color: #F15B22;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding: 20px 25px;
	width: 150px;
}
/* Footer Css */

.footer {
	margin: 130px auto 0 auto;
	background-color: #151414;
	padding: 130px 0;
}


.footer-items {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.footer-left-item {
	flex-basis: 500px;
}

.footer-right-item {
	flex-basis: 300px;
}

.footer-left-item h2 {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: #fff;
	margin-bottom: 16px;
}

.footer-left-item p {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 24px;
}

.social-profile {
	margin-top: 16px;
	display: flex;
	gap: 15px;
}



.footer-right-item h2 {
	color: #fff;
	font-weight: 600;
	font-size: 25px;
	line-height: 29px;
	margin-bottom: 30px;
}

.footer-right-item input {
	border: 1px solid #fff;
	width: 100%;
	border-radius: 8px;
	padding: 21px;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 16px;
}

.footer-right-item input[type="submit"] {
	background-color: #fff;
	width: inherit;
	padding: 20px 36px;
	color: #F15B22;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Inter';
	cursor: pointer;
}